body{
	margin: 0px;
	padding: 0px;
	font-size: 62.5%;
	font-family: "Calibri";
	-webkit-font-smoothing: antialiased;
}

#wrapper{
	margin: 0px;
	padding: 0px;
}

#toper{
	background-image: url('rift.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#top{
	padding: 0px;
	height: 65px;
	margin: 0px;
}

.logo{
	padding: 0px;
	margin-top: 7px;
	margin-left: 10%;
	width: 150px;
	float: left;
}

#brand{
	float: left;
	padding: 10px;
	padding-left: 10px;
	color: white;
}

#brand p{
	margin: 0px;
	padding: 0px;
	font-size: 55px;
}

.social{
	float: right;
	padding: 20px;
	padding-bottom: 0px;
}

.media{
	padding-right: 5px;
}

#top2{
	padding: 0px;
	height: 100px;
	margin: 0px;
	border-bottom: 1px solid grey;	
}

.slide{
	margin: 0px;
	margin-left: 750px;
	word-spacing: 30px;
	padding-top: 20px;
	font-size: 30px;
	color: lightblue;
}

.slide1{
	display: inline-block;
}

.content{
	background-image: url('elise.jpg');
	padding-top: 100px;
	background-size: cover;
	background-position: top left;
	margin:0px;
	padding: 0px;
}

#interested{
	padding: 0px;
	margin: 0px;
}

.transpartenbox1{
	padding: 40px;
	border: 2px solid white;
	border-style: double;
	margin: 0xp;
	margin-left: 10%;
	margin-right: 40%;
	background-color: rgba(0, 0, 0, 0.9);
}

.transpartenbox2{
	padding: 40px;
	border: 2px solid white;
	border-style: double;
	margin: 0xp;
	margin-left: 40%;
	margin-right: 10%;
	background-color: rgba(0, 0, 0, 0.9);
}
.normal{
	margin: 0px;
	padding: 0px;
	color: white;
	font-size: 20px;
	font-weight: 100;
}

#gfuel{
	background-image: url('gfuel.jpg');
	padding-top: 100px;
	background-size: cover;
	background-position: center;
	padding-bottom: 100px;
}

#G2A{
	background-image: url('g2a.png');
	padding-top: 100px;
	background-size: cover;
	background-position: center;
	padding-bottom: 100px;
}

#cyber{
	background-image: url('cyber.png');
	padding-top: 100px;
	background-size: cover;
	background-position: center;
	padding-bottom: 100px;
}

#text{
	padding: 15px;
	padding-bottom: 0px;
	border: 2px solid white;
	border-style: double;
	margin: 0px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgba(105, 105, 105, 0.4);
	color: white;
	font-size: 20px;
	font-weight: 100;
}

#content2{
	padding-top: 5%;
}

#streaming{
	margin: 0px;
	padding: 0px;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 500px;
}

#titel{
	font-size: 25px;
	color: white;
	padding-bottom: 10px;
	margin:0px;
	font-weight: bold;
	}
	
#foot{
	min-height: 300px;
	padding: 0px;
	margin: 0xp;
	background-image: url('rift.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(105, 105, 105, 0.9);
}

.social2{
	padding-top:110px;
	text-align:center;
}

#social1{
	display: inline-block;
	padding-right:100px;
}

#social2{
	display: inline-block;
	padding-right:100px;
}

#social3{
	display: inline-block;
	padding-right:100px;
}

#social4{
	display: inline-block;
}

#social-12{
	display: inline-block;
	padding right: 100px;
}

#social-34{
	display: inline-block;
}


a:link{
	color: white;
	background-color:transparent; 
	text-decoration:none
	}
	
a:visited {
	color: white;
	background-color:transparent; 
	text-decoration:none
	}

a:hover{
	color: lightblue; 
	background-color:transparent; 
	text-decoration:none;
	}

@media screen and (max-width: 1120px){
	.slide{
		float:left;
		margin: 0px;
		padding-left: 10px;
		word-spacing: 30px;
		padding-top: 20px;
		font-size: 30px;
		color: red;
	}

	#brand{
		display:none;
		clear: both;
	}

	.transpartenbox1{
		margin-right:10%;
	}

	.transpartenbox2{
		margin-left: 10%;
	}

	#text{
		margin-left: 10%;
		margin-right: 10%;
	}

	#streaming{
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 50px;
		padding-top: 50px;
	}
}

@media screen and (max-width: 660px){

	#social2{
		padding: 0px;
	}

	.social2{
		padding-top:55px;
	}

	#social-12{
		width: 100%;
		padding-bottom: 20px;
	}

	#content2{
		padding-bottom: 5%;
	}

	#interested{
		display: none;
		padding: 0px;
		margin: 0px;
	}

	#streaming{
		display: hidden;
		display: none;
	}

}

@media screen and (max-width: 573px){

	 .logo{
	 	display: none;
	 }

	 .social{
	 	margin: 0px;
	 	float: none;
	 	text-align: center;
	 }

	 .slide{
	 	text-align: center;
	 	float: none;
	 }

	 #streaming{
	 	display: hidden;
	 	display: none;
	 }

	 #interested{
		display: none;
		display: none;
	}
}